.iconcrautos{
background-color:#0E5254;
opacity: 1.0;
filter: alpha(opacity=100); /* For IE8 and earlier */
}
.iconcrautos:hover {
opacity: 1.0;
filter: alpha(opacity=100);
}
.slider{
width: 1600px;
height: 700px;
margin: auto;
overflow: hidden;
margin-bottom: 2%;
}
.slider ul{
display: flex;
padding: 0;
width: 400%;
animation: cambio 20s infinite  alternate;
animation-timing-function: ease-in;

}
.slider li{
width: 100%;
list-style: none;
}
.slider img{
width: 100%;
}
@keyframes cambio{
/*
Esto es el tiempo que va a durar la trancicion de una
imagen a otra.
*/
0%{margin-left: 0;}
20%{margin-left: 0;}
25%{margin-left: -100%;}
45%{margin-left: -100%;}
50%{margin-left: -200%;}
70%{margin-left: -200%;}
75%{margin-left: -300%;}
100%{margin-left: -300%;}
}
{
padding: 0px;
margin: 0px;
}
#header {
margin: 0 0 0 500;
width: 100%;
font-family: Arial, Helvetica, sans-serif;
}
ul, ol {
list-style: none;
}
.nav li a {
background-color: rgba(255, 255, 255, 0.7);
color: black;
text-decoration: none;
padding: 20px 25px;
display: block;
margin-bottom:-15px;
}
.nav li a:hover {
background-color:#434343;
}
.nav > li {
float: left;
}
.nav li ul {
display: none;
position: absolute;
min-width: 140px;
}
.nav li:hover > ul {
display: block;
}
.submenu{	
	top: 60px;
	right: -308px;
}
#segundosubmenu{

	right: -95px;
	top: -0px;

}
.nav li ul li {
position: relative;
}
.nav li{
	width: 401px;
	height: 100%;
	transform: translateX(50px); 
}
body{
background-color: black;
}
/*.flex-container{
width: 100%;
height: 1000px;
background-color: blue;
display: flex;*/
}
#container{
justify-content: center;
align-items: center;
}
/*.carcontainer{
width: 750px;
height: 450px;
background-color: #DED9D8;
display: flex;
}*/
.item{
	width: -20%;
	height: 20px;
	background-color: #000;
	border-color:initial;
	transition-duration: 0.5s;
	margin: 20px;
	border-style: dashed dotted;
}
.item:hover{
	transform: scale(1.2);
	box-shadow: -0px 10px 20px;
	border-radius: 5px;
	box-shadow: inset 0px 0px 10px white;
}
#container1{
align-items: stretch;
justify-content: space-between;
}
#container2{
	justify-content: space-between;
	align-items: flex-start;
	margin-top: -5px;

}
.flex-container{
	/*margin-right:auto*/
	width:90%;
	height: 200px;
	background-color: #c3c3c3;
	display: flex;
	margin-left: 5%;
}
/*.item{
	width:5%;
	height: -100px;
	background-color: #000;
	border-color:initial;
}*/
.plantilla{
	width: 100%;
	height: 1350px;
	background-color:#424949;
	display: block;
}
.footer-cont{
	width: 100%;
	height: 70px;
	background-color: #0E5254;
	display: flex;
}
footer{
	justify-content:center;
}
#contFo{
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#contFo2{
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#h2{
	position: center;
	text-align: center;
	font-family: fantasy;
}